<div *ngIf="movie">
  <div class="card main-card">
    <div class="card-header">
      <h3 style="display: inline-block">{{movie.Title}}</h3>
      <div class="button" *ngIf="!inCollection" style="display: inline-block">
          <button class="btn-primary" (click)="addMovie()">Add To Collection</button>
      </div>
      <div class="button" *ngIf="inCollection" style="display: inline-block">
          <button class="btn-danger" (click)="deleteMovie()">Remove from Collection</button>
      </div>
    </div>

    <div class="card-body">
          <div class="card poster border-0">
            <img src={{movie.Poster}}/>
          </div>
          <div class="card border-0 col-auto" style="padding-left: 0">
            <div class="card border-right-0 border-left-0">Director:    {{movie.Director}}   </div>
            <div class="card border-right-0 border-left-0">Actors:      {{movie.Actors}}     </div>
            <div class="card border-right-0 border-left-0">Writer(s):   {{movie.Writer}}     </div>
            <div class="card border-right-0 border-left-0">Producer(s): {{movie.Production}} </div>
            <div class="card border-right-0 border-left-0">Rated:       {{movie.Rated}}      </div>
            <div class="card border-right-0 border-left-0">Genre:       {{movie.Genre}}      </div>
            <div class="card border-right-0 border-left-0">Runtime:     {{movie.Runtime}}    </div>
            <div class="card border-right-0 border-left-0">Plot:        {{movie.Plot}}       </div>
            <div class="card border-right-0 border-left-0">IMDB Rating:           {{movie.imdbRating}} </div>
            <div class="card border-right-0 border-left-0">IMDB Votes:            {{movie.imdbVotes}}  </div>
            <div class="card border-right-0 border-left-0">Metascore:             {{movie.Metascore}}  </div>
            <div class="card border-right-0 border-left-0">Awards:                {{movie.Awards}}     </div>
            <div class="card border-right-0 border-left-0">
              <a target="_blank" href={{movie.Website}}>Website Link</a>
            </div>
            <div class="card border-right-0 border-left-0">Country:               {{movie.Country}}    </div>
            <div class="card border-right-0 border-left-0">Language:              {{movie.Language}}   </div>
            <div class="card border-right-0 border-left-0">Theatrical Release:    {{movie.Released}}   </div>
            <div class="card border-right-0 border-left-0">Home Release:          {{movie.DVD}}        </div>
            <div class="card border-right-0 border-left-0">Box Office:            {{movie.BoxOffice}}  </div>
          </div>

      </div>
  </div>



</div>
