<div *ngIf="movie" class="omdb-movie">

  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2>{{movie.Title}}</h2>
      </div>
    </div>
    <div class="row">

      <div class="col-auto" style="padding: 0;">
        <img src={{movie.Poster}}/>
      </div>

      <div class="col-sm-4 col-md-5 col-lg-6 col-xl-8">
        <div class="row">Director:    {{movie.Director}}   </div>
        <div class="row">Actors:      {{movie.Actors}}     </div>
        <div class="row">Writer(s):   {{movie.Writer}}     </div>
        <div class="row">Producer(s): {{movie.Production}} </div>
        <div class="row">Rated:       {{movie.Rated}}      </div>
        <div class="row">Genre:       {{movie.Genre}}      </div>
        <div class="row">Runtime:     {{movie.Runtime}}    </div>
        <br>
        <div class="row">Plot:        {{movie.Plot}}       </div>
        <br>
        <div class="row">

          <div class="col-6">
            <div class="row">IMDB Rating:           {{movie.imdbRating}} </div>
            <div class="row">IMDB Votes:            {{movie.imdbVotes}}  </div>
            <div class="row">Metascore:             {{movie.Metascore}}  </div>
            <div class="row">Awards:                {{movie.Awards}}     </div>
            <div class="row">Website:
              <a target="_blank" href={{movie.Website}}>Link</a>
            </div>
          </div>

          <div class="col-6">
            <div class="row">Country:               {{movie.Country}}    </div>
            <div class="row">Language:              {{movie.Language}}   </div>
            <div class="row">Theatrical Release:    {{movie.Released}}   </div>
            <div class="row">Home Release:          {{movie.DVD}}        </div>
            <div class="row">Box Office:            {{movie.BoxOffice}}  </div>
          </div>

        </div>
      </div>

    </div>
    <div *ngIf="add" class="row">
      <div class="col-9">
        <button class="btn-primary" (click)="addMovie()">Add To Collection</button>
      </div>
    </div>
    <div *ngIf="!add" class="row">
      <div class="col-9">
        <button class="btn-danger" (click)="deleteMovie()">Remove from Collection</button>
      </div>
    </div>

  </div>
</div>



