
button {
  margin-top: 5px;
  float: none;
}

.poster {
  display: inline-block;
  float: left;
  text-align: center;
  margin-bottom: 5px;
  width: 100%;
}

.main-card {
 width: calc(100% - 10px);
  margin-bottom: 10px;
  max-width: 960px;
}

.button {
  display: inline-block;
  float: right;
}
