h2 { text-align: center }

.column {
  offset-before: 500px;
  align-content: center;
}

.movies {
  list-style-type: none;
  width: 25em;
  display: table;
  margin: 0 auto;
}

.row {
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: #eeeeee;
  margin: .5em;
  padding: .3em 0;
  height: 1.6em;
  border-radius: 4px;
  text-align: left;
}

.row button {
  float: right;
  border-style: hidden;
  background-color: #eeeeee;

}

.row:hover {
  color: #5c868b;
  background-color: #d6c7c8;
  left: .1em;
}

.row:hover button {
  color: #5c868b;
  background-color: #d6c7c8;
}

.text {
  position: relative;
  top: -3px;

}

.badge {
  display: inline-block;
  font-size: small;
  color: white;
  padding: 0.8em 0.7em 0 0.7em;
  background-color: #6bb26d;
  line-height: 1em;
  position: relative;
  left: -1px;
  top: -4px;
  height: 1.8em;
  margin-right: .8em;
  border-radius: 4px 0 0 4px;
}

.addMovie {
  text-align: center;
}


